
<%= image_tag("logo.jpg", size: "272x48", alt: "img.jpg") %>

<div class="menubar">
	<%= menu_link_to "TOP", root_path %>
	&nbsp;|&nbsp; <%= menu_link_to "news", "#"%>
	&nbsp;|&nbsp; <%= menu_link_to "blog", "#"%>
	#&nbsp;|&nbsp; <%= menu_link_to "member_lists", "#"%>
	&nbsp;|&nbsp; <%= menu_link_to "admin_page", "#"%>
	&nbsp;|&nbsp; <%= menu_link_to "member_lists", :members %>
</div>

