
<%= image_tag("logo.jpg", size: "272x48", alt: "img.jpg") %>
<p class="member">
<% if current_member %>
	Mrs<%= current_member.name %> |
	<%= link_to "logout", :session,
	method: :delete, date: { confirm: "logout?" } %>
</p>
<% end %>

<div class="menubar">
	<%= menu_link_to "TOP", root_path %>
	&nbsp;|&nbsp; <%= menu_link_to "news", "#"%>
	&nbsp;|&nbsp; <%= menu_link_to "blog", "#"%>
<% if current_member %>
#&nbsp;|&nbsp; <%= menu_link_to "member_lists", "#"%>
	&nbsp;|&nbsp; <%= menu_link_to "admin_page", "#"%>
	&nbsp;|&nbsp; <%= menu_link_to "member_lists", :members %>
<% end %>
</div>

