<table class="attr">
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
<th><%= form.label :number, "number" %></th>
<td><%= form.text_field :number, size: 8 %></td>
</tr>
<tr>
  <th><%= form.label :number, "number" %></th>
  <td><%= form.text_field :number, size: 8 %></td>
</tr>

</table>

