<% @page_title = "member_lists" %>
<h1><%= @page_title %></h1>

<%= from_tag :search_members, method: :get do %>
	<p><%= text_feild_tag "q", params[:q ] %>
	<%= submit_tag "search" %></p>
<% end %>
<p><%= link_to "new register", :new_member %></p>

<% if @members.present? %>
  <table class="tr">
    <tr>
	<th>number</th>
	<th>id</th>
	<th><name</th>
	<th>action</th>
    </tr>
  <% @members.each do |member| %>
    <tr>
	<td style="text-align: right"><%= member.number %></td>
	<td><%= member.name %></td>
	<td><%= member.full_name %></td>
	<td></td>
	<td><%= link_to member.name, member %></td>
	<td><%= link_to "edit", [:edit, member] %></td>
	#csef_meta_tags
	<td><%= link_to "delete", member, method: :delete,
	  data: { confirm: "delete ?" } %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>text</p>
<% end %>

