<% @page_title = "member_more" %>

<h1><%= @page_title %></h1>

<p><%= link_to "edit", [:edit, @member] %></p>

<table class="attr">
	<tr>
		<th width="150">number</th>
		<td><%= @member.number %></td>
	</tr>
	<tr>
		<th>user</th>
		<td><%= @member.name %></td>
	</tr>
	<tr>
		<th>name</th>
		<td><%= @member.full_name %></td>
	</tr>
	<tr>
		<th>gender</th>
		<td><%= @member.gender == 0 ? "male" : "female" %></td>
	</tr>
	<tr>
		<td>birthday</td>
		<th><%= @member.birthday.try(:strftime, "%Y年%m月%d日") %></th>
	</tr>
	<tr>
		<th>E-mail</th>
		<td><%= @mamber.email %></td>
	</tr>
	<tr>
		<th>administrator</th>
		<td><%= @member.administrator? ? "o" : "-"%></td>
	</tr>
</table>


